<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
  <div class="log-logo"><img src="img/logo.png"></div>
    <div class="row form-wrapper">
      <div class="col">
        <form name="login_form" id="create-account-form" novalidate>
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Email" name="email" ng-model="user.email" required>
            </label>
            <label class="item item-input">
              <input type="text" placeholder="First Name" name="firstname" ng-model="user.firstName" required>
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Last Name" name="lastname" ng-model="user.lastName" required>
            </label>
            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Password" name="password" ng-model="user.password" required show-hide-input>
            </label>
            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Re-Enter Password" name="password" ng-model="user.passwordRE" required show-hide-input>
            </label>
            <button type="submit" class="login button button-block" ng-click="createAccount(user)" ng-disabled="login_form.$invalid">
              Create Account
            </button>
            <p ng-show="error" class="message error">{{error}}</p>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
