<ion-modal-view ng-controller="CreateCtrl">
    <ion-header-bar>
      <h1 class="title">Create</h1>
       <button class="button button-icon button-clear" ng-click="closeModal()">
         <i class="menu-icon icon ion-close-round audio-player-toggle-top"></i>
       </button>
    </ion-header-bar>
    <ion-content class="padding">
    <div class="createbtn">
    <a class="button" id="create-post" ng-click="createPost()">Create a Post</a> <a class="button" id="create-hotspot" ng-click="createHotspot()">Create a Hotspot</a>
    </div>
    <div class="create-post-div" ng-hide="!showPost">
        <form id="postform">
            <div class="item-input post-input"><textarea placeholder="What's going on?" type="text" ng-model="post.info"></textarea></div>
            <button type="submit" class="login button button-block" ng-click="uploadPost(post)">
              Upload Post
            </button>
        </form>
    </div>
    <div class="create-hotspot-div" ng-hide="!showHotspot">
        <form id="hotspotform">
            <h4>Title</h4><input type="text" ng-model="spot.title">
            <h4>Address of Event</h4><input type="text" ng-model="spot.address">
            <h4>Date of Event</h4><input type="text" ng-model="spot.date">
            <h4>Start Time</h4><input type="text" ng-model="spot.time"></input>
            <h4>Description</h4><textarea type="text" ng-model="spot.desc"></textarea> 
            <button type="submit" class="login button button-block" ng-click="uploadSpot(spot)">
              Upload Hotspot
            </button>
        </form>
    </div>
  </ion-content>
</ion-modal-view>