<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-spinner class="loading-spinner" icon="spiral" ng-show='loading'></ion-spinner>
  <ion-content class="padding" ng-show="!loading">
    <div class="log-logo"><img src="img/logo.png"></div>
    <div class="row form-wrapper">
      <div class="col">
        <form name="login_form" id="login-form" novalidate>
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Email" name="email" ng-model="user.email" required>
            </label>
            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Password" name="password" ng-model="user.password" required show-hide-input>
            </label>
            <button type="submit" class="login button button-block" ng-click="doLogIn(user)" ng-disabled="login_form.$invalid">
              Login
            </button>
            <p ng-show="error" class="message error">{{errormess}}</p>
          </div>
        </form>
        <div class="alternative-actions">
          <a class="forgot-password button button-clear button-block" ng-click="signUp()">
            Don't have an account?
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
