<ion-view view-title="Hello">
  <ion-content class="spot">
    <ion-list class="spot-content">
        <div id="map"></div>
        <div class="spot-date">{{date}}</div>
        <div class="spot-time"></div>
        <p class="spot-desc">{{desc}}</p>
    </ion-list>
  </ion-content>
</ion-view>