<ion-view view-title="Recent Updates">
  <ion-spinner class="loading-spinner" icon="spiral" ng-show="loading"></ion-spinner>
  <ion-content class="padding" ng-show="!loading">
  <ion-refresher
    pulling-text="Pull To Refresh"
    on-refresh="getCavePosts()"
    spinner='spiral'>
  </ion-refresher>
    <ion-list id="dashposts">
    <div class="welcome-wrapper"><div class="user-welcome">Welcome {{user.user_name}}!</div></div>
        <ion-item class="item-remove-animate item-avatar item-icon-right item-text-wrap" ng-repeat="post in posts track by $index" type="item-text-wrap">
        <img src="{{post.author_img}}">
        <h4>{{post.author_name}}</h4>
        <p ng-bind-html="post.content.rendered"></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
