<ion-view view-title="Account">
  <ion-content>
  <ion-refresher
    pulling-text="Pull To Refresh"
    on-refresh="getUserPosts()"
    spinner='spiral'>
  </ion-refresher>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
	    <ion-item ng-click='logOut()'>
	    	Log Out
	    </ion-item>
      <ion-item>
      Logged in as: {{user.user_name}}
      </ion-item>
    </ion-list>
    <ion-list class='current-user-posts'>
    <ion-item class="item-remove-animate item-avatar item-icon-right item-text-wrap" ng-repeat="post in userPosts" type="item-text-wrap" ng-click="revealDelete(post.id)">
    <img src="{{post.author_img}}">
        <h4>{{post.author_name}}</h4>
        <p ng-bind-html="post.content.rendered"></p>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>