<ion-view view-title="Hotspots">
  <ion-spinner class="loading-spinner" icon="spiral" ng-show="loading"></ion-spinner>
  <ion-content class="padding" ng-show="!loading">
  <ion-refresher
    pulling-text="Pull To Refresh"
    on-refresh="getHotspots()"
    spinner='spiral'>
  </ion-refresher>
    <ion-list id="hotloc">
    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="spot in hotspots" type="item-text-wrap" ui-sref="tab.hotspotdetail({ spottitle: spot.title, lat: spot.lat, lng: spot.lng, desc: spot.desc, date: spot.date, time: spot.time})">
	    <h2>{{spot.title}}</h2>
	    <h3>{{spot.date}}</h3>
	    <h3>{{spot.time}}</h3>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> 