<ion-view view-title="Events">
  <ion-spinner class="loading-spinner" icon="spiral" ng-show="loading"></ion-spinner>
  <ion-content class="padding" ng-show="!loading">
  <ion-refresher
    pulling-text="Pull To Refresh"
    on-refresh="getCaveCalendar()"
    spinner='spiral'>
  </ion-refresher>
  <div class="loading"></div>
	  <ion-list>
		  <ion-item ng-repeat="event in calendar">
		  	<div class="event-title">{{event.title}}</div>
		  	<div class="event-date">{{getDate(event)}}</div>
		  </ion-item>
	  </ion-list>
  </ion-content>
</ion-view>