
#create-post, #create-hotspot {
	display: inline-block; margin: 0 15px;
}
.createbtn {
	text-align: center;
}

/*    General css    */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #011a27;
}

.item {
	color: #011a27; border:none; box-shadow: 0 0 2px #063852;
}

/*        Hotspot css               */
.spot-content {
	width: 90%; display: inline-block;
}
.spot {
	text-align: center;
}
#map {
	min-height: 300px; margin: 5% 0 0 0; border: double black 3px;
}
.spot-date {
	margin: 3% 0 5% 0; font-size: 18px; font-weight: 500;
}

/*           Spinner CSS             */

.loading-spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	display: block;
	width: 100%;
	height: auto;
}

/*       Account Ctrl CSS           */


.angular-center-container { position: fixed; top:0; left:0; height:100%; width:100%; display:table; pointer-events: none; z-index:9999; } 
.angular-centered { display: table-cell; vertical-align: middle; text-align: center; }
.container-popup {
	position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.8);
}
.popup {
	width: 50%;
    height: 50%;
    background: #1abcb9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.deleteshow {
	background-color:#666; padding: 20px; height: auto;
}

/*     Home tab css    */
.item-avatar img {
	
}

/*   Events tab css    */

.event-title {
	font-weight: 500;
}

/*   Header css    */

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
	background-color: #011a27;
}
.bar.bar-stable .title {
	color: white;
}
ion-header-bar button i {
	color: white;
}

/*   tabs css   */

.tabs {
	background-color: #011a27;
}
.tabs ion-tabs {
	background-color: #011a27;
}
ion-tabs.tabs-color-active-positive .tab-item {
	color: white;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
	color: #e6df44;
}

/*       Login and Create css        */
#create-account-form .item-input input, #login-form .item-input input {
	background-color: white; color: rgb(68 , 68 , 68);
}
.log-logo {
	text-align: center;
}
.log-logo img{
	width: 50%; height: auto; display: inline-block;
}
.col .error {
	text-align: center; color: red;
}
.user-welcome {
	background-color: #011a27; color: white; padding: 10px 5px; margin-bottom:10px; border: solid #666 1px; border-radius: 5px; display: inline-block; width: 50%;
}
.welcome-wrapper {
	text-align: center;
}
.post-input textarea {
	border: #666 solid 1px; width: 100%; height: 100%; display: inline-block; text-align: left; padding: 20px;
}

.post-input {
	text-align: center; padding: 0 0 0 0; margin: 70px 0 40px 0;
}

/*     Events css      */
.event-title {
	color: #063852;
}